@import url(https://fonts.google.com/specimen/Lexend+Deca);

body {
    background-color: hsl(233, 47%, 7%);
    font-size: 15px;
    font-family: 'Lexenda Deca', sans-serif;
    font-weight: 400;
}

.flex-container {
    display: flex;
    justify-content: center;
    margin-top: 15%;
}   


.card {
    background-color: hsl(244,38%, 16%);
    width: 900px;
    height: 350px;
    border-radius: 15px;
    
}

.image{
    max-width: 900px;
    max-height: 350px;
    position: relative;
    display: 
    
}

.col {
    display: inline-block;
    flex-wrap: wrap;
}

.row {
    margin: 25px;
    display: flex;
    flex-wrap: wrap;
}

.col h2, p {
    color: white;
    margin: 10px;
    padding: 1,5em;
    align-items: flex-end;
}

.text {
    text-align: left;
    padding: 4px;
    border: 0px solid;
}

.attribution {
    text-align: center;
}